p{
    color: salmon;
    font-size-adjust: 7;
    font-family: Arial, Helvetica, sans-serif;
    background-color: brown;
}

p#hewan{
    color: darksalmon;
    font-size-adjust: 1;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #fff;
}